<ion-view id="xiang" view-title="故事详情">
    <ion-content class="padding">        
        <h4>{{details.title}}</h4>
        <pre style="text-indent: 2em;margin-bottom:20px;">{{details.content | newArray}}</pre>
        <p>{{details.time}}</p>
    </ion-content>
    <div class="bar bar-footer bar-positive">
        <div class="dibu">
            <div class="tan"><a href="javascript:"><span class="ion-forward"></span><p>分享</p></a></div>
            <div class="tan"><a href="javascript:"><span class="ion-android-star"></span><p>收藏</p></a></div>
            <div class="tan"><a href="javascript:"><span class="ion-more"></span><p>更多</p></a></div>
        </div>
    </div>
</ion-view>