<ion-view hide-nav-bar='true'>
  <ion-slide-box>
    <ion-slide id="vs1">
      <h1>逸闻趣事</h1>
      <p class="icon ion-ios-book"></p>
    </ion-slide>
    <ion-slide id="vs2">
      <h3>国事家事天下事<br>事事关心</h3>
      <p class="summary">古往今来，国内国外，随时随地都会发生或大或小的事件或新闻，这些事情有的会让你开怀大笑，有的会让你难过悲伤，还有一些会给你的人生带来一些启迪。这款软件搜集了世界上众多的新闻故事，现在打开它，能帮你打发掉无聊时光。</p>
    </ion-slide>
    <ion-slide id="vs3">
      <div class="bao"><a id="kaishi" href="#/home" class="button button-outline button-light button-begin">开始使用</a></div>
    </ion-slide>
  </ion-slide-box>
</ion-view>
