<div class="book-title">
    <span>推荐书目</span>
</div>
<div class="book-content">
    <ul>
        <li><a href="https://www.amazon.cn/gp/product/B00114689G?ie=UTF8&camp=536&creativeASIN=B00114689G&linkCode=xm2&tag=book110-23" target="_black">《时间简史》<small>以寻根问底为己任的哲学家不能跟得上科学理论的进步</small></a></li>
        <li><a href="http://baike.baidu.com/link?url=a0N2B_2j34BqAZZHetGr6gzhEvJjAIRYT2-_T6BiIZr7VlIwPd62r5Abx3Wu03iMRTPYMivKkC9f7LoVaDfs0b9hBJ13wtFgGBr2fmqVSXfcJNYOg8O6nphBprEwFVlY49NflhpR4ho9mAULwfSvOYQC4e6TbH9bMZchgxJCcYBIkuE69gaVTqOlwGvnmqvZ" target="_black">《禅与摩托车维修艺术》<small>就拿太阳来说，没有人会为了它明天升起而兴奋不已</small></a></li>
        <li><a href="http://www.baike.com/wiki/%E3%80%8A%E6%95%99%E7%88%B6%E3%80%8B" target="_black">《教父》<small>为了正义，我们必须去求唐·柯里昂。</small></a></li>
        <li><a href="http://baike.baidu.com/link?url=1kFs8ciITqT-qmicf6Rz6KMEDsqe_a3OLCHL2JEMgEkN4ruGRJTCbaQo9ggMI8TSkBacaztew-EakYJC70mdi6HLVN8uYu6Muusx_eFsKgdNgtE8DwLSw0z1D2ck2icDY5eDBItGmnR2MCdPsBW7Up-5o_r6ZdEtxzco2Pg5jEoFLdwMUBJes43Or7g_xL0r6YZxKTwSfoXejo8hS3clzK6rZFrtymPvmrEtnME7aI2CbqGup1SQgPLfcItesmf7mNvvFkbApeKS1Id-X6AX-DM42sIL0szYUSUspeKng_bsKg4wik33kRXrnTBpzzXTCWKEuJ1BLR8PyMwhYsIY9yuZxm7GnEizqwBX_THnzE9B2utmm6jkVrYotF-WgpU_Yw0n36Ucr40L6qbQoJgca_ulpgAgh20SM73S9lUK623" target="_black">《流血的仕途：李斯与秦帝国》<small>答案只能回答问题，却不能解决问题</small></a></li>
        <li><a href="http://www.sbkk8.cn/wangluo/cangdimima/" target="_black">《藏地密码》<small>人，活一辈子，总该做点什么。</small></a></li>
        <li><a href="http://www.yljxzy.com/wgwx/amypj/" target="_black">《傲慢与偏见》<small>越过爱情，看见春暖花开</small></a></li>
        <li><a href="http://www.newxue.com/mingzhujianshang/maitianlideshouwangzhe/" target="_black">《麦田里的守望者》<small>记住该记住的，忘记该忘记的，改变能改变的，接受不能改变的</small></a></li>
        <li><a href="http://baike.baidu.com/link?url=aVF_miPTlJORdmDVE7rOpdoyrK7j0Zycab6T_XH0MgO2GMGu6ctHrCiuKUzoQUrt2GKa0o6lhXKTTB75O2TiEOHN0gDKM3JsRhmWv0pelYlDu-lUx9XsFaX9SE4wqMDPMsQwz2Km0ksBXyfaU6eDE7RWou0sCGeLCOHHVl7Ujk1UNAN87NzCtaydBgNFu4Z9UubiBx1l55P_DlKI15-dNxSOFZYPFMSmQb75piLB--N6GQTr11xxuNSTiEwchixzaUsxR8RgV2212yJD6NGE0P2UvvqJTIiSppbznrxX-hNIuUVynazS3OTTwA-KUxaf" target="_black">《了不起的盖茨比》<small>人的本能，总是在追逐离开我们的东西，同时却在跳比追逐我们的东西</small></a></li>
        <li><a href="http://www.sbkk8.cn/mingzhu/waiguowenxuemingzhu/shasiyizhizhigengniao/" target="_black">《杀死一只知更鸟》<small>斯各特，大多数人都是好人，在你终于了解他们之后</small></a></li>
        <li><a href="http://www.thn21.com/Article/chang/14211.html" target="_black">《简·爱》<small>我越是孤独，越是没有朋友，越是没有支持，我就得越尊重我自己</small></a></li>
        <li><a href="http://www.thn21.com/Article/chang/27351.html" target="_black">《呼啸山庄》<small>当我忘了你的时候，我也就忘了我自己</small></a></li>
        <li><a href="http://www.ppzuowen.com/book/xiaowangzi/" target="_black">《小王子》<small>星星发亮是为了让每一个人有一天都能找到属于自己的星星</small></a></li>
        <li><a href="http://www.360doc.com/content/14/0418/08/5554207_369941909.shtml" target="_black">《百年孤独》<small>生命中真正重要的不是你遭遇了什么，而是你记住了那些事，又如何铭记的</small></a></li>
        <li><a href="http://www.thn21.com/Article/chang/10808.html" target="_black">《老人与海》<small>一个人可以被毁灭，但不能被打败</small></a></li>
        <li><a href="http://www.kanunu8.com/book3/7193/" target="_black">《活着》<small>没有什么比事件更具有说服力，因为事件无需通知我们可以改变一切</small></a></li>
        <li><a href="http://www.eywedu.net/biancheng/" target="_black">《边城》<small>在这个世界上，所有真性情的人，想法总是与众不同</small></a></li>
        <li><a href="http://www.newxue.com/gkmz/sgyy/" target="_black">《三国演义》<small>大丈夫处世，当努力建功立业，着鞭在先。今若不取，为他人所取，悔之晚矣</small></a></li>
        <li><a href="http://www.xiexingcun.com/ertong/index12.htm" target="_black">《一千零一夜》<small>思病的人没有药医，当事者跟疯子没有区别。</small></a></li>
        <li><a href="http://www.sbkk8.cn/mingzhu/qingchengzhilian/37484.html" target="_black">《倾城之恋》<small>如果你认识从前的我，那么你就会原谅现在的我</small></a></li>
        <li><a href="http://www.thn21.com/Article/chang/6125.html" target="_black">《堂吉坷德》<small>我们的意志是自由的，不受草药和符咒的强制</small></a></li>
        <li><a href="http://www.newxue.com/waerdenghu/" target="_black">《瓦尔登湖》<small>光勤劳是不够的，蚂蚁也是勤劳的。要看你为什么而勤劳</small></a></li>
        <li><a href="http://www.newxue.com/weicheng/" target="_black">《围城》<small>天下就没有偶然，那不过是化了妆的，带了面具的必然</small></a></li>
        <li><a href="javascript:;" target="_black">《爱情故事》<small>爱永远不用说对不起</small></a></li>
        <li><a href="http://www.99lib.net/book/2083/index.htm" target="_black">《茶花女》<small>让我来成全你的幸福</small></a></li>
        <li><a href="http://www.pingfandeshijie.net/" target="_black">《平凡的世界》<small>要知道，川田的道路依然泥泞</small></a></li>
        <li><a href="http://baike.baidu.com/link?url=qQQeop5D0_2usSk0ggjnRZrbIZfqmr7GasVkD2diEL60y6P0DLYsf4bH2o7QN53-InphYBKUXySugMn1Eo_OpyPUuJ0BdoVzC_bTSe_JytV7Yo1KKmKGzOjIFKk0dXGu" target="_black">《了凡四训》<small>积善之家，必有馀庆</small></a></li>
        <li><a href="http://www.newxue.com/baike/gangtie/" target="_black">《钢铁是怎样炼成的》<small>真正的朋友应该说真话，不管那话多么尖锐。</small></a></li>
        <li><a href="http://baike.baidu.com/link?url=SIcsNJQRpn0XlJuOGc9KL9xEnm4bRqP4Le-iiDIIfE6LhV-vAeL19TQFf42gRcauxaHdw4-YY5KCkdBhVWXUiIEkSfFRxH1q0ayo45JlZRBdCoGmzZ71xqvYYzrWZ0M9YgqK7DE65yHGLzNHHjyHBBuu_BdrXXY0pj7tmckJXOEW2aJaH_sAznQiNl0RTnLY" target="_black">《仓央嘉措诗传全集》<small>来我的怀里 或者 让我住进你的心里</small></a></li>
        <li><a href="http://www.sbkk8.cn/mingzhu/dycqmjc/" target="_black">《第一次的亲密接触》<small>坏男人通常很浪漫...而好男人通常不解风情.</small></a></li>
        <li><a href="http://wow.178.com/200906/38703499768.html" target="_black">《如果，宅》<small>有时右逝</small></a></li>
    </ul>
</div>