<div class="home-title">
    <span>个人主页</span>
</div>
<div class="home-content">
    <div class="home-content-one">
        <p>随笔</p>
        <p>向来缘浅，奈何情深</p>
        <p>如果世界上曾经有那个人出现过</p>
        <p>其他人都会变成将就</p>
        <p>他说，我不愿意将就</p>
        <p>那时候的我还不明白</p>
        <p>有一种平静，叫做死水微澜</p>
        <p>平静是因为已经有了决定</p>
        <p>决定了要等下去</p>
        <p>有些人的伤口是在时间中慢慢痊愈</p>
        <p>如我。有些人的伤口是在时间中</p>
        <p>慢慢溃烂，如他</p>
        <p>原来这些年</p>
        <p>他痊愈的只是外表，有一种伤</p>
        <p>它深入骨髓，在你看不见的地方肆虐</p>
    </div>
    <div class="home-content-two">
        <p>了解自我</p>
        <table>
            <tr>
                <th>姓名：</th>
                <th>卞童</th>
            </tr>
            <tr>
                <th>性别：</th>
                <th>男</th>
            </tr>
            <tr>
                <th>工作：</th>
                <th>Web前端</th>
            </tr>
            <tr>
                <th>专业：</th>
                <th>电子信息</th>
            </tr>
            <tr>
                <th>学历：</th>
                <th>大专</th>
            </tr>

            <tr>
                <th>家乡：</th>
                <th>陕西咸阳</th>
            </tr>

        </table>

    </div>
    <div class="home-content-therr">
        <p>倾听音乐</p>
        <a href="javascript:;">坐上火车去拉萨</a><br>
        <a href="javascript:;">我们从草原来</a>
    </div>
    <div class="home-content-five">
        <p>精选图片</p>
        <div class="home-content-five-top">
            <div><img src="images/q1.jpg" alt=""></div>
            <div><img src="images/q3.jpg" alt=""></div>
        </div>
        <div class="home-content-five-bot">
            <div>
                <img src="images/q2.jpg" alt="">
            </div>
        </div>
    </div>
</div>