<div class="me-title">
    <span>自我了解</span>
</div>
<div class="me-content">
    <div class="me-content-one">
        <p>个人信息</p>
        <table>
            <tr>
                <th>姓名：</th>
                <th>卞童</th>
            </tr>
            <tr>
                <th>性别：</th>
                <th>男</th>
            </tr>

            <tr>
                <th>学历：</th>
                <th>大专</th>
            </tr>
            <tr>
                <th>专业：</th>
                <th>电子信息</th>
            </tr>
            <tr>
                <th>电话：</th>
                <th>13636898669</th>
            </tr>
            <tr>
                <th>邮箱：</th>
                <th>834499845@qq.com</th>
            </tr>
            <tr>
                <th>家乡：</th>
                <th>陕西-咸阳-礼泉</th>
            </tr>
        </table>
    </div>
    <div class="me-content-two">
        <p>教育经历</p>
        <table>
            <tr>
                <th>小学：</th>
                <th>石坡扶小学</th>
            </tr>
            <tr>
                <th>初中：</th>
                <th>裴寨初中</th>
            </tr>
            <tr>
                <th>高中：</th>
                <th>礼泉县第二中学</th>
            </tr>
            <tr>
                <th>大学：</th>
                <th>山西工业职业技术学院</th>
            </tr>
        </table>
    </div>
    <div class="me-content-therr">
        <p>个人技能</p>
        <p>1. 精通html/html5，css/css3，javascript，jQuery等Web前端基础知识，以及各类H5新功能，canvas，audio，video各类新元素，熟悉Emmet语言</p>
        <p>2. 精通客户端js和服务端交互,熟练使用客户端js做 ajax 请求</p>
        <p>3. 熟练使用的各类前端ui框架，熟练使用 bootstrap，angularJs，ionic，requireJs。熟悉使用ReactJs。</p>
        <p>4. 熟练使用前端自动化构建工具, Gulp，Grunt，webpack。能够使用 webpack 实现前端代码的模块化 开发</p>
        <p>5. 熟悉nodeJs ,熟练掌握express框架 ,有相关开发经验</p>
        <p>6. 熟练使用git 源代码版本管理工具,熟练使用markdown语法 </p>
        <p>7. 熟练掌握 Objective-c语言, 熟练使用 Xcode 工具</p>
        <p>8. 熟练使用iOS中各类UI 控件,及各类动画</p>
        <p>9. 熟悉多种设计模式,如: MVC , 单例,代理, KVC ,KVO等,熟悉多线程编程</p>
    </div>
    <div class="me-content-four">
        <div>项目经历</div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
    </div>
</div>