<div class="miusc-title">
    <span>推荐视频&nbsp;&nbsp;&nbsp;&nbsp; <small>暂无连接，只提供片名</small></span>
</div>
<div class="miusc-content">
    <ul>
        <li><a href="javascript:;">肖申克的救赎</a></li>
        <li><a href="javascript:;">阿甘正传</a></li>
        <li><a href="javascript:;">楚门的世界</a></li>
        <li><a href="javascript:;">西部往事</a></li>
        <li><a href="javascript:;">搏击俱乐部</a></li>
        <li><a href="javascript:;">这个杀手不太冷</a></li>
        <li><a href="javascript:;">千与千寻</a></li>
        <li><a href="javascript:;">亲爱的伽利略</a></li>
        <li><a href="javascript:;">卑鄙的我</a></li>
        <li><a href="javascript:;">勇敢的心</a></li>
        <li><a href="javascript:;">放牛班的春天</a></li>
        <li><a href="javascript:;">当幸福来敲门时</a></li>
        <li><a href="javascript:;">三傻大脑宝莱坞</a></li>
        <li><a href="javascript:;">贫民窟的百万富翁</a></li>
        <li><a href="javascript:;">爱情呼叫转移</a></li>
        <li><a href="javascript:;">爱上钢琴师</a></li>
        <li><a href="javascript:;">斯巴达300勇士</a></li>
        <li><a href="javascript:;">我是传奇</a></li>
        <li><a href="javascript:;">愤怒的公牛</a></li>
        <li><a href="javascript:;">荒岛余生</a></li>
        <li><a href="javascript:;">壮志凌云</a></li>
        <li><a href="javascript:;">忠犬八公的故事</a></li>
        <li><a href="javascript:;">光荣之路</a></li>
        <li><a href="javascript:;">127小时</a></li>
        <li><a href="javascript:;">活着</a></li>
        <li><a href="javascript:;">泰坦尼克号</a></li>
        <li><a href="javascript:;">大话西游</a></li>
        <li><a href="javascript:;">黑鹰坠落</a></li>
        <li><a href="javascript:;">兵临城下</a></li>
        <li><a href="javascript:;">拯救大兵瑞恩</a></li>
    </ul>
</div>