.book-title{width: 100%;height: 40px;background-color: #dbd4c2;border-top-left-radius: 10px;border-top-right-radius: 10px;}
.book-title span{display: block;width: 150px;height: 40px;line-height: 40px;margin-left: 190px;font-size: 1.6rem;font-weight: 700;color: #e76f61;}
.book-content{background-color: #f7f4e3;width: 1260px;height: 750px;
background: url('../images/bg-12.png') 0 0 no-repeat;position: relative;}
.book-content ul{margin-left: 35px;}
.book-content ul li{margin-top: 15px;float: left;width: 580px;height: 30px;}
.book-content ul li:nth-child(2n){margin-left: 20px;}
.book-content ul li:nth-child(1){margin-top: 25px;}
.book-content ul li:nth-child(2){margin-top: 25px;}
.book-content ul li a{display: block;text-align: center;width: 100%;height: 100%;border: 2px solid white;box-shadow: 1px 2px 1px white;border-radius: 7px;line-height: 30px;font-size: 1.4rem;color: #333;}
.book-content ul li a small{font-size: 0.9rem;color: navy;}